@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Keania+One&family=Rowdies:wght@300;400&display=swap');

.font-keania {
    font-family: 'Keania One', cursive;
}
.font-fredoka {
    font-family: 'Fredoka One', cursive;
}
.font-rowdies {
    font-family: 'Rowdies', cursive;
    font-weight: 300;
}
body {
    background: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #313946;
}
html{
    overflow-y: scroll;
}
.bg-fixture {
    background: repeating-linear-gradient(-45deg,rgba(40, 46, 58, 0.5),rgba(40, 46, 58, 0.5) 10px,rgba(40, 46, 58, 0.2) 10px,rgba(40, 46, 58, 0.2) 15px);
}
#fixture-main {
    margin-top: 1rem;
}
.alert {
    position: absolute;
    right: 15px;
    top: 15px;
}

.badge {
    border-radius: 0px;
}
.btn:focus, .btn:active {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
.daytitle {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: .6rem;
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}
#weeks-col {
    background: rgba(3, 3, 3, 0.1);
    text-align: center;
    overflow-y: hidden;
}
.weeks-nav span {
    cursor: pointer;
    background-color: #1df1fd;
    color: #333;
}
.weeks-title {
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 7px;
}
.weeks {
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.week {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(-45deg, transparent 10%, rgba(0, 0, 0, 0.2) 10%);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    margin-top: 6px;
}
.week:hover {
    background: linear-gradient(-45deg, transparent 20%, rgba(29, 241, 253, 1) 20%);
    color: rgba(0, 0, 0, 1);
}
.week-active {
    background: linear-gradient(-45deg, transparent 20%, rgba(29, 241, 253, 1) 20%) !important;
    color: rgba(0, 0, 0, 0.8);
}
.accordion-body {
    padding-top: 0 !important;
    background: rgba(3, 3, 3, 0.5);
    text-align: center;
}
.accordion-content {
    padding-top: 15px;
}
.accordion-content .row {
    color: #6c757d;
    margin-bottom: .5rem;
}
.btn-lightblue {
    background-color: rgba(29, 241, 253, 1);
    color: #333;
    border-color: rgba(29, 241, 253, 1);
}
.btn-lightblue:hover {
    background-color: rgba(29, 241, 253, 0.8);
    border-color: rgba(29, 241, 253, 0.8);
}

/* UPCOMING */

.btn-accordion {
    background-color: rgba(0, 0, 0, 0.6);
    color: #EFEFEF !important;
    opacity: 0.7;
}
.btn-accordion:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
}
.btn-accordion:not(.collapsed) {
    background-color: rgba(6, 6, 6, 0.8) !important;
    opacity: 1;
}

/* LIVE */

.btn-accordion-live {
    background-color: rgba(124, 228, 124, 0.6);
    color: #EFEFEF !important;
    opacity: 0.7;
}
.btn-accordion-live:hover {
    background-color: rgba(124, 228, 124, 0.6);
    opacity: 0.8;
}
.btn-accordion-live:not(.collapsed) {
    background-color: rgba(124, 228, 124, 0.8) !important;
    opacity: 1;
}

/* FINISHED */

.btn-accordion-finished {
    background-color: rgba(0, 0, 0, 0.4);
    color: #EFEFEF !important;
    opacity: 0.5;
}
.btn-accordion-finished:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
}
.btn-accordion-finished:not(.collapsed) {
    background-color: rgba(6, 6, 6, 0.8) !important;
    opacity: 0.9;
}

.bg-finished {
    background-color: rgba(6, 6, 6, 0.5) !important;
    opacity: 0.9;
}

.bg-lightblue {
    background: #1df1fd;
}

.bg-blue {
    background: #015186;
}

.bg-darkblue {
    background: #102542;
}

.bg-dark2 {
    background: rgba(3, 3, 3, 0.5);
}
.bg-title {
    padding-right: 10rem !important;
    background: linear-gradient(-45deg, transparent 3.3rem, #1df1fd 3.3rem);
    white-space: nowrap;
}
.bg-description {
    padding-right: 8rem !important;
    background: linear-gradient(-45deg, transparent 3.5rem, #1df1fd 3.5rem);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.4);
    white-space: nowrap;
}
.text-lightblue {
    color: #1df1fd;
}
.text-blue {
    color: #015186;
}
.text-darkblue {
    color: #193a68;
}
.w-auto {
    width: auto;
    display: inline-block;
}
.fa-futbol {
    color: #FFF !important;
}
.fa-long-arrow-alt-up {
    color: green;
}
.fa-long-arrow-alt-down {
    color: red;
}
.yellow-card {
    background-color: rgba(233, 212, 96, 1);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10%;
    margin-right: 3px;
}
.red-card {
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10%;
    margin-right: 3px;
}

.score-info {
    font-size: 9px !important;
}
#mobile-weeks {
    display: none;
}


@media only screen and (max-width: 1300px) {
    .btn{
        font-size: 0.9rem;
    }
}
    @media only screen and (max-width: 768px) {

    .bg-title {
        padding-right: 10px !important;
        background: #1df1fd !important;
        border-radius: 5px 5px 5px 0;
    }
    .bg-description {
        border-radius: 0 0 0 5px;
    }
    .bg-title h1 {
        font-size: 18px !important;
    }
    .bg-description h2 {
        font-size: 14px !important;
    }
    .daytitle {
        padding-top: 1.6rem;
    }
    .accordion-header .col, .accordion-content .col, .accordion-header .col-auto, .accordion-content .col-auto {
        font-size: 11px;
    }

    .col-auto{
        width: 15%;
    }
    #normal-weeks {
        display: none;
    }
    #mobile-weeks {
        display: block;
    }
    .dropdown .btn {
        font-size: 12px;
        font-family: 'Rowdies', cursive;
        font-weight: 300;
    }
    .dropdown-menu {
        min-width: inherit;
        height: 350px;
        overflow-y: scroll;
        text-align: center;
    }
    ul.dropdown-menu li a {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }
    ul.dropdown-menu li a.active, ul.dropdown-menu li a:focus {
        color: #333 !important;
        background-color: #1df1fd !important;
    }


}

.reset-all-weeks{
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
}
.simulate-all-weeks{
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
}

.text-white{
    color: white;
}
.table{
    color: white;
    margin: 25px 0;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    color: white;
}
